<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbiffi.vacationfriend">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo_vacation_friend"
        android:logo="@drawable/logo_vacation_friend"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_vacation_friend"

        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AppSections.VacationList.ActivityVacationList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppSections.VacationList.ActivityNewVacation"
            android:label="@string/activity_title_new_vacation"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name=".AppSections.VacationList.ActivityModifyVacation"
            android:label="@string/activity_title_modify_vacation"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".AppSections.Home.ActivityVacation"
            android:parentActivityName=".AppSections.VacationList.ActivityVacationList">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppSections.VacationList.ActivityVacationList" />
        </activity>

    </application>

</manifest>